<h2>
    {{ $title := .Title }}
    {{ $section := .Section | humanize }}
    {{ if and (eq $section "Tags") (eq $section $title) }}
        {{ i18n "tagsColumn" }}
    {{ else }}
        {{ if and (eq $section "Tags") (ne $section $title) }}{{ i18n "tagColumn" }} #{{ end }}{{ $title }}
    {{ end }}
</h2>
{{.Content}}
<ul class="list">
    {{ if and (eq $section "Tags") (eq $section $title) }}
        {{/* if we're in the Tags section, sort alphabetically and don't show the date */}}
        {{ range (sort .Pages "Title") }}
            <li>
                <a href="{{ .Permalink }}">#{{ .Title }}</a>
            </li>
        {{ end }}
    {{ else }}
        {{ range .Pages }}
            <li>
                <div>
                    <span class="date">
                        {{- partial "date.html" .Date -}}
                    </span>
                    <span>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </span>
                </div>
            </li>
        {{ end }}
    {{ end }}
</ul>
